.breed-images {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -2%;
  margin-right: -2%;
  .breed-image {
    max-height: 200px;
    width: 21%;
    text-align: center;
    margin: 16px 2%;
    font-weight: 600;
    cursor: pointer;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}